html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}

.banner-head {
  position: absolute;
  transform: translateX(-50%);
  bottom: 1.5em;
  left: 50%;
  width: 100%;
  max-width: 50em;
  padding: 0 1.5em;
}

h2 {
  font-size: 4rem;
  display: inline;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

body {
  margin: 0;

}
